# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.log

# Environnements
.env
.env.*
venv/
.venv/

# OS
.DS_Store

# Ignore database files
db.sqlite3
*.sqlite3*
*.backup*

# Ignore uploaded media
media/
